@font-face {
    font-family: Plus Jakarta Sans;
    src: url(fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: PoetsenOne;
    src: url(fonts/PoetsenOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #08090B;
}


                /* Навигация сайта  */
.logo__place {
    cursor: pointer;
}

.logo__place a {
    display: flex;
    align-items: center;
}

.logo__text {
    color: #ffff;
    font-family: PoetsenOne;
    letter-spacing: 5px;
    font-size: 24px;
    text-transform: uppercase;
}




.nav__links,
.contact__link li,
a {
    font-family: Plus Jakarta Sans;
    font-weight: 300;
    font-size: 24px;
    color: #ffff;
    text-decoration: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    flex-wrap: wrap;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 40px;
}

.nav__links li a,
.contact__link span {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover,
.contact__link span:hover {
    color: aqua
}

.active__link {
    font-weight: 700;
}

.header__line {
    color: rgb(214, 214, 214);
    margin: 0 10%;
    opacity: 50%;
    margin-bottom: 3%;
}

.contact__link a {
    display: flex;
    align-items: center;
}

.contact__link span {
    margin: 0 10px;
}


                    /* Заголовок страницы */

.main__page {
    text-align: center;
}

.photo__container {
    width: 100%;
    display: relative;
    z-index: 2;
}

.photo__container img { 
    background-size: 100%;
}

.main__text {
    z-index: 1;
    color: white;
    margin-top: -185px;
    margin-left: 4%;
}

.main__text h1,
.main__text span {
    font-family: Plus Jakarta Sans;
    text-transform: uppercase;

}

.main__text h1 {
    font-size: 100px;
    letter-spacing: 40px;
}

.main__text span {
    font-size: 28px;
    margin-left: -1.8%;
}



                    /* "Типо" слайдер  */
.fake__slider  ul { 
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.slider__items li { 
    display: inline-block;
    padding: 0 14px;
}

.border_slider { 
    border: 2px solid yellow;
}

.left__arrow { 
    display: block;
    position: absolute;
    top: 84%;
    left: 11%;
    display: flex;
    justify-content: space-between;
    align-items:center
}

.right_arrow { 
    display: block;
    position: absolute;
    top: 84%;
    left: 85%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.left__arrow span, .right_arrow span {
    color: #000;
    font-size: 40px;
    margin-left: -53px;
    cursor: pointer;

}

.left__arrow, .right_arrow { 
    transition: all 0.5s ease;
}

.left__arrow:hover, .right_arrow:hover { 
    transform: scale(2);
    transform: rotate(999999360deg);
}


                    /* Информационный блок */

.base__link_place {
    margin: 3% 10% 0 10%;
    position: relative;
}

.base__link_line {
    color: rgb(255, 255, 255);
}


.base__link_items {
    padding: 2% 0;
}

.base__link_items li {
    display: inline-block;
    list-style: none;
    color: #fff;
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: Plus Jakarta Sans;
}

.base__link_items li:nth-child(1){
    float:left;
    width:41%;
}

.base__link_items li:nth-child(2){
    width: 33%;
}

.base__link_items li:nth-child(3){
    float:right;
}

                /* Яркий инфо блок */

.bright__block { 
    position: relative;
    margin: 3% 10% 0 10% ;
    background-color: #F1D047;
    padding: 3% 1%;
    display: flex;
    justify-content: space-around;
}



.first__part h2{
    font-size: 72px;
    font-family: Plus Jakarta Sans;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 5%;
    font-weight: 800;
}

.first__part { 
    width: 50%;
    margin-left: 2%;
}



.second__part {
    width: 50%;
    margin-right: 2%;
}

.dinner__links { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dinner__links a { 
    display: flex;
    justify-content: space-between;
}

.dinner__links span { 
    color: #000;
}

.second__part p {
    font-size: 22px;
    letter-spacing: 3px;
    font-family: Plus Jakarta Sans;
    font-weight: 500;  
    margin: 29px 0;
    color: #000;
    display: inline-block;
    transition: all ease 0.3s;
}

.dinner__links { 
    margin-top: 15%;
    transition: all ease 0.3s;
}

.dinner__links p:hover {
    transform: scale(1.1);
}

.dinner__arrow { 
    display: block;
    float: right;
}




.bright__block_line { 
    border:1px solid black;
    width: 100%;
}

.about__button {
    background-color: #000;
    color: white;
    padding: 3% 7%;
    border: 1px solid #000;
    border-radius: 40px;
    font-size: 20px;
    font-family: Plus Jakarta Sans;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition:  ease 0.3s;
    margin: 0 0 6% 0;
}


.about__button span { 
    font-size: 20px;
    letter-spacing: 2px;
    font-family: Plus Jakarta Sans;
    padding: 0 15px;
}


.about__button:hover{ 
    transform: scale(1.1);
    box-shadow: 5px 6px 1px 2px rgb(133, 22, 153);
}




                    /* Блок с работами */

.selected__works {
    margin: 5% 10%;
}


.selected__works h3 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: Plus Jakarta Sans;
    font-size: 72px;
    font-weight: 800;
    letter-spacing: 30px;
}


.allworks__button { 
    margin: 3% 0;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: all ease 0.3s;
}

.allworks__button span { 
    font-size: 20px;
    font-weight: 500;
    font-family: Plus Jakarta Sans ;
    color: #000;
}

.allworks__button a  { 
    background-color: #fff;
    padding: 2% 3%;
    border-radius: 55px;
    transition: all ease 0.3s;
}

.allworks__button img { 
    margin: 0 10px;
}

.allworks__button a:hover {
    transform: scale(1.1);
    box-shadow: 10px 6px 1px 2px rgb(133, 22, 153);
}


                 /* Блок с кнопкой  */

.block__button{
    background-color:#F1D047;
    margin: 3% 10%;
    display: flex;
    justify-content: space-around;
    padding: 1% 4%;
}

.block__first_frame { 
    width:75%;
}

.block__first_frame h3 { 
    text-transform: uppercase;
    font-family: Plus Jakarta Sans ;
    font-size: 72px;
}

.block__second_frame { 
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .block__second_frame a{
    display: block;
    padding: 3% 7%;
    background-color: #000;
    border-radius: 56px;
    height: 65px;
    display: flex;
    align-items: center;
    transition: all ease 0.3s;
    cursor: pointer;
}

.work__button span{ 
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.12em;  
}

.work__button img { 
    margin: 0 10px;
}

.block__second_frame a:hover { 
    transform: scale(1.1);
    box-shadow: 10px 6px 1px 2px rgb(133, 22, 153);
}

.footer__line {
    color: rgb(214, 214, 214);
    margin: 0 10% 2% 10%;
    opacity: 50%;
}